body{
    background-color: black;
}
.container{
    border: 3px solid #000000;
    color:red;
    background-color: #ffffff;
}
.container h1, .container p{
    text-align: center;
}
.container:hover{
    box-shadow: 3px 5px 8px rgb(30, 116, 116);
}